.user-role-form-label,
.edit-user-role-form-label {
  font-size: 15px !important;
  margin-bottom: 4px;
  margin-left: 3px;
}
.custom-modal-title {
  font-size: 18px !important;
  margin-bottom: 4px;
  margin-left: 3px;
}

.user-role-form-control,
.edit-user-role-form-control {
  width: 20rem !important;
  margin-left: 3px;
}
.Settings {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border: 1px solid #dee2e6;
  background: #f8f9fa;
  border-radius: 7px;
  padding: 1rem;

  transition: transform 0.3s ease;
  /* width: unset !important; */
}

.Settings-interface {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border: 1px solid #dee2e6;
  background: #f8f9fa;
  border-radius: 7px;
  padding: 1rem;

  transition: transform 0.3s ease;
  width: unset !important;
}
h5 {
  color: #046689;
  /* margin-left: 20px; */
}
.btn-delete-icon {
  margin-left: -0.35rem;
  margin-top: -0.35rem;
  width: 1.8rem;
  height: 1rem;
}
.buttons {
  height: unset !important;
}
/* .Settings-page {
  height: 1rem !important;
} */

.btn {
  background-color: transparent !important;
  color: var(--clr-blue) !important;
}

.btn:hover,
.btn-active:hover {
  background-color: var(--clr--bootstrap-btn) !important;
  color: var(--clr-white) !important;
}

.btn-active {
  background-color: var(--clr--bootstrap-btn) !important;
}
.form-control-limited {
  max-width: 400px;
  width: 100%;
}
